<div class="small-8 columns">
  <div class="row recipe-info">
    <h3>{{model.recipe.name}}</h3>
    <p>{{model.recipe.description}}</p>
  </div>
  <div class="row recipe-ing">
    {{#draggable-dropzone dropped="addIngredient" recipeId=model.recipe.id}}

      <p class="secondary">Ingredients (drag from below to add more)</p>
      <div class="small-12 columns">

          {{#each model.recipe.ingredients as |ingredient|}}
            <span>{{ingredient.name}} <a href="#" {{action 'removeIngredient' ingredient.id model.recipe.id}}>x </a></span>
          {{/each}}

      </div>
    {{/draggable-dropzone}}
  </div>
  <br>
  {{ingredient-list model=model.ingredients}}
</div>

{{outlet}}
